<section class="left-column col-xs-3 ">
	<h1 class="main-title">Welcome <%= _session.user %></h1>
	<p class ="desc">Multiplayer games experiment nodejs</p>
	<nav class="main-nav">
		<ul class="nav-list">
			<li><a class="navy-btn btn btn-default" href="/inv/<%= _session.token %>">Home</a></li>
			<li><a class="btn btn-success play-button" href="/inv/<%= _session.token %>/play">Play</a></li>
			<li><a class="navy-btn btn btn-default profile-button" href="/inv/<%= _session.token %>/profile">Profile</a></li>
			<li><a class="navy-btn btn btn-default friends-button" href="/inv/<%= _session.token %>/friends">Friends</a></li>
			<li><a class="navy-btn btn btn-default score-button" href="/inv/<%= _session.token %>/score">Score</a></li>
			<li><a class="navy-btn btn btn-default logout-button" href="/inv/<%= _session.token %>/logout">Logout</a></li>
		</ul>
	</nav>
	
</section>